<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editing <%= applications.title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
  <h1>Edit <%= applications.title %> at <%= applications.company %></h1>
  <form 
    action="/users/<%= user._id %>/applications/<%= applications._id %>?_method=PUT"
    method="POST"
  >
    <label for="company">Company:</label>
    <input 
      type="text" 
      name="company" 
      id="company" 
      value="<%= applications.company %>"
    >
    <br>
    <br>
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="<%= applications.title %>">
    <br>
    <br>
    <label for="notes">Notes:</label>
    <textarea name="notes" id="notes"><%= applications.notes %></textarea>
    <br>
    <br>
    <label for="postingLink">Posting Link:</label>
    <input 
      type="text" 
      name="postingLink" 
      id="postingLink" 
      value="<%= applications.postingLink %>"
    >
    <br>
    <br>
    <label for="status">Status:</label>
    <select id="status" name="status">
      <br>
      <br>
      <option 
        value="interested" 
        <%= applications.status === "interested" ? "selected" : "" %>
      >
        Interested
      </option>
      <option 
        value="applied" 
        <%= applications.status === "applied" ? "selected" : "" %>
      >
        Applied
      </option>
      <option 
        value="interviewing" 
        <%= applications.status === "interviewing" ? "selected" : "" %> 
      >
        Interviewing
      </option>
      <option 
        value="rejected" 
        <%= applications.status === "rejected" ? "selected" : "" %>
      >
        Rejected
      </option>
      <option
        value="accepted"
        <%= applications.status === "accepted" ? "selected" : "" %>
      >
        Accepted
      </option>
    </select>
    <br>
    <br>
    <button type="submit">Update applications</button>
  </form>
</body>
</html>